# Supervised Learning Project

In [3]:
import warnings
warnings.simplefilter('ignore')

In [4]:
import matplotlib.pyplot as plt 
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline        

import numpy as np
import pandas as pd
import zipfile

from sklearn.datasets import make_circles, load_boston
from sklearn.model_selection import train_test_split as tts

from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet


from sklearn.svm import SVR
from sklearn.tree import ExtraTreeRegressor as ETR

from sklearn.linear_model import SGDRegressor as SGDR
from sklearn.neighbors import KNeighborsRegressor as KNNR
from sklearn.ensemble import GradientBoostingRegressor as GBR

In [5]:
#Importando datos
zf = zipfile.ZipFile('../solar-energy-prediction-datamex0320.zip')
traindf = pd.read_csv(zf.open('solar_train.csv'))

In [6]:
testdf = pd.read_csv(zf.open('solar_test.csv'))
testdf.head()

,id,UNIXTime,Data,Time,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,0,1478720107,11/9/2016 12:00:00 AM,09:35:07,59,30.47,44,312.67,3.37,06:28:00,17:45:00
1,1,1474063503,9/16/2016 12:00:00 AM,12:05:03,59,30.48,83,38.01,6.75,06:10:00,18:25:00
2,2,1476109221,10/10/2016 12:00:00 AM,04:20:21,47,30.39,78,213.62,5.62,06:16:00,18:03:00
3,3,1481475056,12/11/2016 12:00:00 AM,06:50:56,45,30.40,98,176.63,4.50,06:47:00,17:44:00
4,4,1477493117,10/26/2016 12:00:00 AM,04:45:17,45,30.40,34,175.89,6.75,06:21:00,17:52:00

In [8]:
testdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8172 entries, 0 to 8171
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      8172 non-null   int64
 1   UNIXTime                8172 non-null   int64
 2   Data                    8172 non-null   object
 3   Time                    8172 non-null   object
 4   Temperature             8172 non-null   int64
 5   Pressure                8172 non-null   float64
 6   Humidity                8172 non-null   int64
 7   WindDirection(Degrees)  8172 non-null   float64
 8   Speed                   8172 non-null   float64
 9   TimeSunRise             8172 non-null   object
 10  TimeSunSet              8172 non-null   object
dtypes: float64(3), int64(4), object(4)
memory usage: 702.4+ KB

In [10]:
testdf.TimeSunRise

0       06:28:00
1       06:10:00
2       06:16:00
3       06:47:00
4       06:21:00
          ...
8167    06:23:00
8168    06:46:00
8169    06:17:00
8170    06:38:00
8171    06:26:00
Name: TimeSunRise, Length: 8172, dtype: object

In [5]:
testdf = testdf.drop(columns= ['UNIXTime'])
testdf = testdf.drop(columns= ['TimeSunRise'])
testdf = testdf.drop(columns= ['TimeSunSet'])

In [1]:
testdf = testdf.drop(columns= ['Time'])

NameError: name 'testdf' is not defined

In [6]:
testdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8172 entries, 0 to 8171
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      8172 non-null   int64
 1   Data                    8172 non-null   object
 2   Time                    8172 non-null   object
 3   Temperature             8172 non-null   int64
 4   Pressure                8172 non-null   float64
 5   Humidity                8172 non-null   int64
 6   WindDirection(Degrees)  8172 non-null   float64
 7   Speed                   8172 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 510.9+ KB

In [7]:
testdf["Data"] = pd.to_datetime(testdf["Data"]) 
testdf["Data"] = pd.to_numeric(testdf.Data, errors = 'coerce').astype(float)

In [8]:
testdf["Time"] = pd.to_datetime(testdf["Time"]) 
testdf["Time"] = pd.to_numeric(testdf.Data, errors = 'coerce').astype(float)

In [9]:
testdf.Temperature = testdf.Temperature.astype(float)
testdf.Humidity = testdf.Humidity.astype(float)

In [10]:
test = testdf.drop(columns = ['id'])

In [11]:
#datos de para train 
traindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24514 entries, 0 to 24513
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UNIXTime                24514 non-null  int64
 1   Data                    24514 non-null  object
 2   Time                    24514 non-null  object
 3   Radiation               24514 non-null  float64
 4   Temperature             24514 non-null  int64
 5   Pressure                24514 non-null  float64
 6   Humidity                24514 non-null  int64
 7   WindDirection(Degrees)  24514 non-null  float64
 8   Speed                   24514 non-null  float64
 9   TimeSunRise             24514 non-null  object
 10  TimeSunSet              24514 non-null  object
dtypes: float64(4), int64(3), object(4)
memory usage: 2.1+ MB

In [12]:
traindf.head()

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475175023,9/29/2016 12:00:00 AM,08:50:23,634.99,61,30.46,41,14.96,6.75,06:13:00,18:13:00
1,1481799902,12/15/2016 12:00:00 AM,01:05:02,1.27,37,30.26,70,207.43,5.62,06:50:00,17:46:00
2,1478339417,11/4/2016 12:00:00 AM,23:50:17,1.21,47,30.49,33,168.20,5.62,06:25:00,17:47:00
3,1472887208,9/2/2016 12:00:00 AM,21:20:08,1.67,54,30.46,101,152.60,3.37,06:07:00,18:37:00
4,1478724901,11/9/2016 12:00:00 AM,10:55:01,839.78,62,30.47,36,291.95,7.87,06:28:00,17:45:00

In [13]:
traindf["Data"] = pd.to_datetime(traindf["Data"]) 
traindf["Data"] = pd.to_numeric(traindf.Data, errors = 'coerce').astype(float)

In [14]:
traindf["Time"] = pd.to_datetime(traindf["Time"]) 
traindf["Time"] = pd.to_numeric(traindf.Data, ).astype(float)

In [15]:
traindf = traindf.drop(columns= ['UNIXTime'])
traindf = traindf.drop(columns= ['TimeSunRise'])
traindf = traindf.drop(columns= ['TimeSunSet'])

In [16]:
traindf.Temperature = traindf.Temperature.astype(float)
traindf.Humidity = traindf.Humidity.astype(float)

In [17]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24514 entries, 0 to 24513
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Data                    24514 non-null  float64
 1   Time                    24514 non-null  float64
 2   Radiation               24514 non-null  float64
 3   Temperature             24514 non-null  float64
 4   Pressure                24514 non-null  float64
 5   Humidity                24514 non-null  float64
 6   WindDirection(Degrees)  24514 non-null  float64
 7   Speed                   24514 non-null  float64
dtypes: float64(8)
memory usage: 1.5 MB

In [18]:
traindf.shape

(24514, 8)

In [19]:
traindf.corr()

,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
Data,1.000000,1.000000,-0.081989,-0.371565,-0.332569,-0.062247,0.157208,0.174429
Time,1.000000,1.000000,-0.081989,-0.371565,-0.332569,-0.062247,0.157208,0.174429
Radiation,-0.081989,-0.081989,1.000000,0.736029,0.116763,-0.226432,-0.238388,0.074580
Temperature,-0.371565,-0.371565,0.736029,1.000000,0.310439,-0.281192,-0.270070,-0.032578
Pressure,-0.332569,-0.332569,0.116763,0.310439,1.000000,-0.222480,-0.229222,-0.082508
Humidity,-0.062247,-0.062247,-0.226432,-0.281192,-0.222480,1.000000,0.001631,-0.211095
WindDirection(Degrees),0.157208,0.157208,-0.238388,-0.270070,-0.229222,0.001631,1.000000,0.071282
Speed,0.174429,0.174429,0.074580,-0.032578,-0.082508,-0.211095,0.071282,1.000000

In [20]:
traindf.isnull().sum()

Data                      0
Time                      0
Radiation                 0
Temperature               0
Pressure                  0
Humidity                  0
WindDirection(Degrees)    0
Speed                     0
dtype: int64

In [21]:
X=traindf.drop('Radiation', axis=1)
y=traindf.Radiation

In [22]:

X_train, X_test, y_train, y_test = tts(X, y)

In [23]:
linreg=LinReg(normalize=True)

linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [24]:
train_score=linreg.score(X_train, y_train)   # R2
test_score=linreg.score(X_test, y_test)

print (train_score, test_score)

0.5993021376421434 0.5922498637049856

In [25]:
knnr=KNNR(n_neighbors=7)
knnr.fit(X_train, y_train)

train_score=knnr.score(X_train, y_train) #R2
test_score=knnr.score(X_test, y_test)

print ('train R2:',train_score, '-- test R2:', test_score)

train R2: 0.7664557731944209 -- test R2: 0.6594186190203789

In [26]:
y_pred=knnr.predict(test)

In [27]:
from sklearn.metrics import mean_squared_error as mse

#mse(X_test, y_pred)

In [28]:
gbr=GBR()
gbr.fit(X_train, y_train)

train_score=gbr.score(X_train, y_train) #R2
test_score=gbr.score(X_test, y_test)

print ('train R2:',train_score, '-- test R2:', test_score)

train R2: 0.7669459059355092 -- test R2: 0.7506635335316032

In [29]:
y_pred=gbr.predict(test)

In [30]:
Radiation = pd.DataFrame(y_pred)

In [31]:
Radiation.rename(columns={list(Radiation)[0]:'Radiation'}, inplace=True)
Radiation.columns

Index(['Radiation'], dtype='object')

In [32]:
df = pd.DataFrame(columns=[testdf["id"], Radiation['Radiation']])

In [33]:
df = df.T

In [34]:
df.reset_index(inplace=True) 
df

        id   Radiation
0        0  534.272728
1        1  635.109784
2        2   -0.576814
3        3  -18.504783
4        4   -7.097500
...    ...         ...
8167  8167  190.906829
8168  8168  -31.723432
8169  8169   -0.441880
8170  8170   44.814861
8171  8171  818.325800

[8172 rows x 2 columns]

In [35]:
df.to_csv('predicts.csv', index=False)

In [36]:
df1= pd.read_csv('predicts.csv')
df1

        id   Radiation
0        0  534.272728
1        1  635.109784
2        2   -0.576814
3        3  -18.504783
4        4   -7.097500
...    ...         ...
8167  8167  190.906829
8168  8168  -31.723432
8169  8169   -0.441880
8170  8170   44.814861
8171  8171  818.325800

[8172 rows x 2 columns]